body {
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'Geist Mono', monospace;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    @apply bg-gray-100 dark:bg-slate-800;
    /* @apply bg-gradient-to-r from-gray-50 via-gray-100 to-gray-300 dark:from-gray-950 dark:to-slate-950; */
}

* {
    scrollbar-width: thin;
    scrollbar-color: #bbb transparent;
}
