@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'GeistMono';
    src: url('../fonts/GeistMono-Regular.otf') format('opentype'),
        url('../fonts/GeistMono-Regular.woff2') format('woff2');
}

  @font-face {
    font-family: 'GeistVF';
    src: url('../fonts/GeistVariableVF.woff2') format('woff2-variations');
    font-weight: 100 800;
  }
} */
